/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,255,0,128); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    font-family:'Verdana', Helvetica, Arial, sans-serif;
    font-size:48px;
    height:100%;
    margin:0px;
    margin-top:20px;
    padding:12px;
    width:100%;
    background-color: #101D38;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
    }
}

.topic {

}

.separator {
    background-color: #DDDDDD;
    height: 2px;
    margin: 4px;
}

.topicText {
  float: left;
  width: 70%;
  padding: 4px;
}

.unreadCount {
  float: right;
  display: inline;
  width: 20%;
  height: 100%;
  text-align: right;
  padding: 4px;
}

input {
    height: 70px;
    width: 100%;
    font-size: 48px;
    margin-bottom: 12px;
}

input[type="submit"] {
  border-color: #6D7C99;
  border-size: 2px;
  border-style: solid;
  background-color: #BBC4D7;
  color: #101D38;
  vertical-align: middle;
  border: 10px;
}

.rssRow {
   padding: 4px;
   height: 100px;
   margin: 12px;
   font-size: 24px;
   background-color: #65AE3F;
   vertical-align: middle;
   
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 99px;
  line-height: 33px;
}

a {
    color: #B5E69B;
    text-decoration: none;
}
